# obvious stuff
node_modules/
_site/
.jekyll-cache/


# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# admin 
admin/_site/

# bundle
assets/js/bundle.js
assets/css/main.css
assets/css/main.css.map

# logs
*.log